@font-face {
  font-family: "Cascadia Code";
  src: local("Cascadia Code Bold");
  src: url("../fonts/CascadiaCode-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cascadia Code";
  src: local("Cascadia Code ExtraLight");
  src: url("../fonts/CascadiaCode-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Cascadia Code";
  src: local("Cascadia Code Light");
  src: url("../fonts/CascadiaCode-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cascadia Code";
  src: local("Cascadia Code");
  src: url("../fonts/CascadiaCode-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cascadia Code";
  src: local("Cascadia Code SemiBold");
  src: url("../fonts/CascadiaCode-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Google Sans";
  src: local("Google Sans Bold");
  src: url("../fonts/GoogleSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Google Sans";
  src: local("Google Sans Bold Italic");
  src: url("../fonts/GoogleSans-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Google Sans";
  src: local("Google Sans Italic");
  src: url("../fonts/GoogleSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Google Sans";
  src: local("Google Sans Medium");
  src: url("../fonts/GoogleSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Google Sans";
  src: local("Google Sans Medium Italic");
  src: url("../fonts/GoogleSans-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Google Sans";
  src: local("Google Sans Regular");
  src: url("../fonts/GoogleSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
