code[class*="language-"],
pre[class*="language-"] {
  color: #654735;
  @media (prefers-color-scheme: dark) {
    color: #d4be98;
  }
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.token.comment {
  color: #928374;
  font-style: italic;
}
.token.prolog {
  color: null;
  @media (prefers-color-scheme: dark) {
    color: null;
  }
}
.token.doctype {
  color: #945e80;
  @media (prefers-color-scheme: dark) {
    color: #d3869b;
  }
}
.token.cdata {
  color: null;
  @media (prefers-color-scheme: dark) {
    color: null;
  }
}
.token.plain-text {
  color: null;
  @media (prefers-color-scheme: dark) {
    color: null;
  }
}

.token.atrule,
.token.attr-value {
  color: #d8a657;
  @media (prefers-color-scheme: dark) {
    color: #b47109;
  }
}
.token.keyword {
  color: #ea6962;
  @media (prefers-color-scheme: dark) {
    color: #c14a4a;
  }
}
.token.operator {
  color: #c35e0a;
  @media (prefers-color-scheme: dark) {
    color: #e78a4e;
  }
}

.token.property {
  color: #654735;
  @media (prefers-color-scheme: dark) {
    color: #d4be98;
  }
}
.token.tag {
  color: null;
  @media (prefers-color-scheme: dark) {
    color: null;
  }
}
.token.boolean {
  color: #945e80;
  @media (prefers-color-scheme: dark) {
    color: #d3869b;
  }
}
.token.number {
  color: #945e80;
  @media (prefers-color-scheme: dark) {
    color: #d3869b;
  }
}
.token.constant {
  color: #945e80;
  @media (prefers-color-scheme: dark) {
    color: #d3869b;
  }
}
.token.symbol {
  color: null;
  @media (prefers-color-scheme: dark) {
    color: null;
  }
}
.token.deleted {
  color: #c14a4a;
  @media (prefers-color-scheme: dark) {
    color: #ea6962;
  }
}

.token.selector {
  color: null;
  @media (prefers-color-scheme: dark) {
    color: null;
  }
}
.token.attr-name {
  color: null;
  @media (prefers-color-scheme: dark) {
    color: null;
  }
}
.token.string {
  color: #b47109;
  @media (prefers-color-scheme: dark) {
    color: #d8a657;
  }
}
.token.char {
  color: null;
  @media (prefers-color-scheme: dark) {
    color: null;
  }
}
.token.builtin {
  color: null;
  @media (prefers-color-scheme: dark) {
    color: null;
  }
}
.token.inserted {
  color: #6c782e;
  @media (prefers-color-scheme: dark) {
    color: #a9b665;
  }
}

.token.function {
  color: #6c782e;
  @media (prefers-color-scheme: dark) {
    color: #a9b665;
  }
}
.token.class-name {
  color: #45707a;
  @media (prefers-color-scheme: dark) {
    color: #7daea3;
  }
}

/* Language-specific Colour Overrides */

/* CSS */

.language-css .token.selector {
  color: #945e80;
  @media (prefers-color-scheme: dark) {
    color: #d3869b;
  }
}

.language-css .token.property {
  color: #4c7a5d;
  @media (prefers-color-scheme: dark) {
    color: #89b482;
  }
}

/* HTML */

.language-html .token.tag .token.punctuation {
  color: #928374;
}

.language-html .token.tag .token.attr-name {
  color: #b47109;
  @media (prefers-color-scheme: dark) {
    color: #d8a657;
  }
}

.language-html .token.tag .token.attr-value,
.language-html
  .token.tag
  .token.attr-value
  .token.punctuation:not(:first-child) {
    color: #6c782e;
    @media (prefers-color-scheme: dark) {
      color: #a9b665;
    }
}

/* JavaScript */

.language-jsx .token.punctuation,
.language-jsx .token.tag .token.punctuation,
.language-jsx .token.tag .token.script,
.language-jsx .token.plain-text {
  color: #928374;
}

/* Default taken from .token.attr-name. */
.language-jsx .token.tag .token.attr-name {
  color: #d8a657;
  @media (prefers-color-scheme: dark) {
    color: #b47109;
  }
}

/* Default taken from .token.class-name. */
.language-jsx .token.tag .token.class-name {
  color: #45707a;
  @media (prefers-color-scheme: dark) {
    color: #7daea3;
  }
}

.language-jsx .token.tag .token.script-punctuation,
.language-jsx .token.attr-value .token.punctuation:first-child {
  color: #928374;
}

/* Default taken from .token.attr-value. */
.language-jsx .token.attr-value {
  color: #d8a657;
  @media (prefers-color-scheme: dark) {
    color: #b47109;
  }
}

.language-jsx span[class="comment"] {
  color: #928374;
  font-style: italic;
}
