<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>

  <meta charset="UTF-8">
  <meta name="language" content="en">
  <meta name="description" content="{{ if .IsHome}}{{ .Site.Params.Description }}{{ else }}{{.Page.Params.Description}}{{ end }}">
  <meta name="keywords" content="{{ delimit .Keywords " , " }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Preconnect to Zest Cloud to enable a seamless transition. -->
  <link rel="preconnect" href="https://thebox.thezest.dev:61447" crossorigin>

  <!-- Prefetch the DNS lookups for Disqus resources. -->
  <link rel="dns-prefetch" href="https://c.disquscdn.com" crossorigin>
  <link rel="dns-prefetch" href="https://disqus.com" crossorigin>
  <link rel="dns-prefetch" href="https://referrer.disqus.com" crossorigin>

  <!-- Prefetch the DNS lookup for PrismJS. -->
  <link rel="dns-prefetch" href="https://unpkg.com" crossorigin>

  <!-- Preload (or prefetch in case of the home page) the emoji font first as it's massive. -->
  {{ if .IsHome }}
  <link rel="prefetch" href="/fonts/JoyPixels-SBIX.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="prefetch" href="/fonts/JoyPixels-SVG.woff2" as="font" type="font/woff2" crossorigin>
  {{ else }}
  <link rel="preload" href="/fonts/JoyPixels-SBIX.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/JoyPixels-SVG.woff2" as="font" type="font/woff2" crossorigin>
  {{ end }}

  <link rel="preload" href="/fonts/CascadiaCode-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/CascadiaCode-ExtraLight.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/CascadiaCode-Light.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/CascadiaCode-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/CascadiaCode-SemiBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/GoogleSans-BoldItalic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/GoogleSans-Bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/GoogleSans-Italic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/GoogleSans-MediumItalic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/GoogleSans-Medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/GoogleSans-Regular.woff2" as="font" type="font/woff2" crossorigin>

  <!-- Open Graph -->
  {{ partial "social_metadata.html" . }}

  <!-- Twitter -->
  {{ if isset .Site.Params "twitter" }}
  <meta name="twitter:title" content="{{ .Title }}" />
  <meta name="twitter:description" content="{{ if .IsHome }}{{ htmlEscape .Site.Params.description }}{{ else }}{{ htmlEscape .Description }}{{ end }}"/>
  <meta name="twitter:site" content="{{ .Site.Params.twitterSite | default .Site.Params.twitter }}" />
  <meta name="twitter:creator" content="{{ .Site.Params.twitterCreator | default .Site.Params.twitter }}" />
  {{ end }}

  {{ partial "favicon.html" }}

  <!-- Styles -->
  {{ block "styles" . }} {{ end }} <!-- Get "style_opts" variable from "styles" block -->
  {{ $base_styles_opts := .Scratch.Get "style_opts" | default (dict "src" "scss/pages/about.scss" "dest" "css/about.css") }}
  {{ $custom_styles_opts := (dict "src" "scss/custom.scss" "dest" "css/custom.css") }}
  
  {{ $current_page := . }}
  
  {{ range (slice $base_styles_opts $custom_styles_opts) }}
    {{ $style := resources.Get .src | resources.ExecuteAsTemplate .dest $current_page | toCSS | minify | fingerprint }}
    <link type="text/css" rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}"/>
  {{ end }}
  
  {{ range .AlternativeOutputFormats }} 
  {{ printf `<link rel="%s" type="%s+%s" href="%s" title="%s" />` .Rel .MediaType.Type .MediaType.Suffix .Permalink $.Site.Title | safeHTML }} 
  {{ end }} 
  {{ block "links" . }} {{ end }}
  {{ partial "seo-schema.html" .}}

  {{- if not .Site.IsServer -}}
      {{ template "_internal/google_analytics_async.html" . }}
  {{- end -}}
</head>

<body>
  {{ partial "burger.html" .}} 

  {{ partial "nav.html" .}}

  <main>
    {{ block "main" . }} {{ end }}
  </main>

  {{ block "footer" . }} {{ end }}

  {{ $script := resources.Get "js/index.js" | minify | fingerprint }}
  <script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity | safeHTMLAttr }}" crossorigin="anonymous"></script>
  {{ block "scripts" . }} {{ end }}
</body>

</html>
