<link rel="apple-touch-icon" href="/favicons/apple-touch-icon.png?v=gAXbOdN5aq" sizes="180x180" type="image/png" crossorigin>
<link rel="icon" href="/favicons/favicon-32x32.png?v=gAXbOdN5aq" sizes="32x32" type="image/png" crossorigin>
<link rel="icon" href="/favicons/favicon-16x16.png?v=gAXbOdN5aq" sizes="16x16" type="image/png" crossorigin>
<link rel="manifest" href="/favicons/site.webmanifest?v=gAXbOdN5aq" type="application/manifest+json" crossorigin>
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg?v=gAXbOdN5aq" color="#aeea00" type="image/svg+xml" crossorigin>
<link rel="shortcut icon" href="/favicon.svg?v=gAXbOdN5aq" type="image/svg+xml" crossorigin>
<meta name="apple-mobile-web-app-title" content="Diab Neiroukh">
<meta name="application-name" content="Diab Neiroukh">
<meta name="msapplication-TileColor" content="#00cc6a">
<meta name="msapplication-config" content="/favicons/browserconfig.xml?v=gAXbOdN5aq">
<meta name="theme-color" content="#e8e8e8">
